aws_region      = "us-east-1"
project_name    = "resume-portal"
environment     = "prod"
domain_name     = "yourdomain.com"
github_username = "your-github-username"
github_repo     = "resume-portal-k8s-Github"